Source: gsmgr
Section: net
Priority: optional
Maintainer: Hoge Aerospace Institute business@hoge-aerospace.com
Build-Depends:
Standards-Version: 4.1.4

Package: gsmgr
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}, libfftw3-dev, libglfw3-dev, libglew-dev, libvolk2-dev
Description: Hoge Aerospace Institute Ground Station Manager software
 This Debian binary package is for the Hoge Aerospace Institute Ground Station Manager software.
