*.o
*.lo
*.la
Makefile
Makefile.in
**/.deps
**/.libs
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
doc/hamlib.cfg
hamlib.pc
include/config.h
include/config.h.in
include/stamp-h1
libtool
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
macros/pkg.m4
rigs/winradio/linradio/.dirstamp
src/hamlibdatetime.h
tests/ampctl
tests/ampctld
tests/rigctl
tests/rigctlcom
tests/rigctld
tests/rigmem
tests/rigsmtr
tests/rigswr
tests/rigtestlibusb
tests/rotctl
tests/rotctld
